@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex aligns-items-center justify-content-center card text-center w-75 mx-auto my-5">
    <div class="card display-5 text-center bg-light">
        Book Study Room
    </div>
    <div class="card-body">
        <p>
            Book a study room with ease :
        </p>
        <a asp-action="Book" asp-controller="RoomBooking" class="btn btn-dark">Book</a>
    </div>
</div>
