@model Bongo.Models.Model.VM.StudyRoomBookingResult
 

<div class="d-flex aligns-items-center justify-content-center card my-5">
    <div class="card  text-center bg-light">
        <p class="display-4">Your Study Room is booked</p>
     </div>
    <div class="card-body">
        <p>
            Hi @Model.FirstName,
        </p>
        <p>
            A Study Room was booked for you
            on <strong>@Model.Date.ToShortDateString()</strong>.<br />
            Your booking number is <strong>@Model.BookingId</strong>.<br />
    
        </p>


        <div>
            <a class="btn-dark btn" style="margin-top: 25px"  asp-action="Book">Book another Study Room</a>
        </div>
       
    </div>
</div>